# Spotify Web API
SPOTIFY_CLIENT_ID=871bf3a8ce12485e9f67045114e1b6df
SPOTIFY_CLIENT_SECRET=56923d663f0a4133bc2d55efc67c148a

# AWS
AWS_REGION=ap-southeast-2
S3_BUCKET=spotify-data-pipeline-vishal
S3_RAW_PREFIX=raw/spotify/
